@import '~antd/dist/antd.css';

.title{
  font-size: 20px;
  font-weight: bold;
}

.ant-layout-header {
  background: #7dbcea;
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  color: #1f6099;
  box-shadow: rgb(220, 220, 220) 0 2px 10px;
}

.ant-layout-footer {
  position: absolute;
  text-align: center;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #7dbcea;
  color: #fff;
}

.ant-layout-content {
  background:#fff;
  min-height: 120px;
}